* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
  font-family: 'Poppins', sans-serif;
  color: #3c3b3b;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0px 20px;
}

.logo1 {
  width: 250px;
  height: auto;
  padding: 20px;
  transition: transform 0.31s ease;
}
.logo1:hover {
  transform: scale(1.1);
}

.u {
  list-style-type: none;
  display: flex;
}
.l {
  margin-left: 60px;
  font-size: 30px;
  font-weight: bold;
  color: #00bf63;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transition: transform 0.15s ease;
}
.l:hover {
  transform: scale(1.03);
}

body {
    background: #e8f4e8;
    overflow-x: hidden;
}

.contactc {
    max-width: 1120px;
    margin: auto;
    padding: 32px;
}

.contacth {
    text-align: center;
    margin-bottom: 30px;
}

.contacth>h1 {
    color: #309243;
    font-size: 45px;
    margin-bottom: 10px;
}

.contacth p {
    color: #504f4f;
    font-size: 16px;
}

.contactb {
    background: white;
    display: flex;
    gap: 25px;
    padding: 35px;
    border-radius: 15px;
    border: 2px solid #d0ead0;
    box-shadow: 0px 7px 16px rgb(37, 37, 37);
}

.left {
    flex: 1;
    animation: slideRight 1s ease;
}

.left h2 {
    color: #2a7f3b;
    margin-bottom: 15px;
}

.left p {
    color: rgb(88, 87, 87);
    margin-bottom: 15px;
}

.info p {
    color: #4b4a4a;
    margin-bottom: 10px;
}

.right {
    flex: 1.1;
    animation: slideLeft 1s ease;
}

.right h2 {
    color: #2a7f3b;
    margin-bottom: 15px;
}

@keyframes slideRight {
    from { opacity: 0; transform: translateX(-38px); }
    to   { opacity: 1; transform: translateX(0); }
}

@keyframes slideLeft {
    from { opacity: 0; transform: translateX(38px); }
    to   { opacity: 1; transform: translateX(0); }
}


form input,
form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 13px;
    border-radius: 9px;
    border: 2px solid #cdeccc;
    background: #fafffa;
}

form>textarea {
    height: 120px;
    resize: none;
}

form>button {
    width: 100%;
    padding: 14px;
    border: none;
    background: #2b8a3e;
    color: white;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.2s;
}

form>button:hover {
    background: #257734;
}


@media (max-width: 850px) {
    .contactb {
        flex-direction: column;
    }
}
