* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
  font-family: 'Poppins', sans-serif;
  color: #222;
}
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0px 20px;
}

.logo {
  width: 250px;
  height: auto;
  padding-top: 5px;
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}

.u {
  list-style-type: none;
  display: flex;
}
.l {
  margin-left: 60px;
  font-size: 30px;
  font-weight: bold;
  color: #03c567;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transition: transform 0.14s ease;
}
.l:hover {
  transform: scale(1.03);
}
body {
    background: #eef5ee;
}

.header {
    text-align: center;
    padding: 40px 20px;
}

.header h1 {
    font-size: 36px;
    color: #309744;
}

.header p {
    color: #595858;
}

.menuc {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px 50px;
}

.menui {
    background: white;
    border-radius: 13px;
    padding: 15px;
    border: 2px solid #d4ead4;
    box-shadow: 0px 5px 9px rgb(35, 35, 35);
    text-align: center;
    transition: 0.2s;
}

.menui:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgb(35, 35, 35);
}

.menui img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

.menui h3 {
    margin: 15px 0px 6px;
    color: #328940;
}

.menui p {
    color: #636363;
    font-size: 15px;
}

.price {
    display: inline-block;
    margin-top: 12px;
    font-weight: 610;
    font-size: 18px;
    color: #2b853d;
}
