* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  color: #222;
}
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0px 20px;
}

.logo {
  width: 250px;
  height: auto;
  padding-top: 5px;
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}

.u {
  list-style-type: none;
  display: flex;
}
.ls {
  margin-left: 60px;
  font-size: 30px;
  font-weight: bold;
  color: #00bf63;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transition: transform 0.15s ease;
}
.ls:hover {
  transform: scale(1.03);
}
body {
    background: #f3f8f3;
}

.header {
    text-align: center;
    padding: 40px 20px;
}

.header h1 {
    font-size: 38px;
    color: #2b8a3e;
}

.header p {
    color: #555;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    padding: 20px 50px;
}

.menu-item {
    background: #ffffff;
    border-radius: 14px;
    padding: 15px;
    border: 2px solid #d7f0d7;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
    text-align: center;
    transition: 0.2s;
}

.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0,0,0,0.08);
}

.menu-item img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

.menu-item h3 {
    margin: 15px 0 6px;
    color: #2d7c3a;
}

.menu-item p {
    color: #666;
    font-size: 14px;
}

.price {
    display: inline-block;
    margin-top: 12px;
    font-weight: 600;
    font-size: 18px;
    color: #2b8a3e;
}
