* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #292929;
}
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0px 20px;
}

.logo {
  width: 250px;
  height: auto;
  padding-top: 5px;
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}

.u {
  list-style-type: none;
  display: flex;
}
.l {
  margin-left: 60px;
  font-size: 30px;
  font-weight: bold;
  color: #02bc62;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transition: transform 0.14s ease;
}
.l:hover {
  transform: scale(1.03);
}

body {
    background: #eef4ee;
}

.header {
    text-align: center;
    padding: 40px 20px;
}

.header h1 {
    font-size: 38px;
    color: #2d9040;
}

.header p {
    color: #595959;
    font-size: 16px;
}

.offersc {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px 50px;
}

.offerc {
    background: white;
    border-radius: 14px;
    position: relative;
    padding: 15px;
    border: 2px solid #d5ecd5;
    box-shadow: 0px 4px 10px rgba(12, 12, 12, 0.05);
    text-align: center;
    transition: 0.25s;
}

.offerc:hover {
    transform: translateY(-6px);
    box-shadow: 0px 10px 18px rgba(16, 16, 16, 0.08);
}

.offerc img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

.offerc h3 {
    margin: 15px 0 6px;
    font-size: 20px;
    color: #2c8a3f;
}

.offerc p {
    font-size: 14px;
    color: #686767;
}

.price,.price1,.price2,.price3 {
    display: inline-block;
    margin-top: 12px;
    font-weight: 600;
    font-size: 18px;
    color: #ed3c4b;
}

.tag {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #2d8c40;
    color: white;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
}
.divforpass{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.pass{
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  background-color: #02bc62;
  border: none;
}
.pass:hover{
  box-shadow: -7px 5px 5px #4f4e4e;
  background-color: #349648;
}