.carts {
    max-width: 500px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 16px;
    border: 2px solid #d4f1d4;
    box-shadow: 0px 4px 12px rgba(8, 8, 8, 0.06);
    text-align: center;
}

.carts h2 {
    color: #2d863f;
    margin-bottom: 20px;
    font-size: 28px;
}

.emptyc img {
    width: 120px;
    margin-bottom: 10px;
    opacity: 0.85;
}

.emptyc h3 {
    font-size: 20px;
    color: #3f8c50;
}

.emptyc p {
    font-size: 14px;
    color: #6b6a6a;
    margin-bottom: 25px;
}

.billb {
    background: #edf7ed;
    padding: 15px;
    border-radius: 12px;
    margin-top: 10px;
}

.billr {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    font-size: 16px;
}

.billr.total {
    font-weight: 600;
    color: #2c8c3f;
    font-size: 18px;
}

.checkoutb {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background: #2d883f;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.checkoutb:hover {
    background: #246e34;
}
