* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #2a2a2a;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0px 20px;
}

.logo1 {
  width: 250px;
  height: auto;
  padding: 20px;
  transition: transform 0.31s ease;
}
.logo1:hover {
  transform: scale(1.1);
}

.u {
  list-style-type: none;
  display: flex;
}
.l {
  margin-left: 60px;
  font-size: 30px;
  font-weight: bold;
  color: #02ba61;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transition: transform 0.14s ease;
}
.l:hover {
  transform: scale(1.03);
}

body {
    background: #e9f3e9;
    padding: 0px;
}

.policyc {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 40px;
    border-radius: 16px;
    border: 2px solid #c9e8c9;
    box-shadow: 0px 4px 12px rgba(17, 17, 17, 0.07);
}

h1 {
    color: #2a7e3b;
    margin-bottom: 5px;
}

.update {
    font-size: 14px;
    color: #6f6d6d;
    margin-bottom: 25px;
}

h2 {
    color: #328740;
    margin-top: 25px;
    margin-bottom: 10px;
}

p, li {
    font-size: 15px;
    color: #4c4c4c;
    line-height: 1.7;
}

ul {
    margin-left: 20px;
}
